@import "variaveis.less";
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(max-width: 1023px) and (min-width: 768px)";

.marginBottom8{
    margin-bottom: 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: @corDeFundo;
    color: @corDosTextos;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media @breakpointMobile {
        max-width: 70%;
    }
    
    @media @breakpointTablet {
        max-width: 80%;
    }
    
}

header {
    padding: 24px;

    .profileAvatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
    }
}

.profileBio{
    text-align: center;


    &Name{
        .marginBottom8();
        font-size: 16px;
    }

    &Subtitle{
        .marginBottom8();
        font-size: 14px;
    }

    &Description{
        font-size: 14px;
        opacity: 0.7;
    }
}